html{
    scrollbar-width: none;
}
.fs-12{
    font-size: 12px;
}
.lg-h1{
    font-size: 34px;

}
.nav-color{
    backdrop-filter: blur(10px);
    background-color: transparent;

}

.nav-logo{
    width: 100px;
    height: 70px;
}
.nav-logo img {
  transition: transform 1s ease;
}
.nav-logo img:hover {
  transform: rotate(360deg);
}
.nav-menu a{
    color: white;
    transition: all 0.3s ease-in-out;
}
.nav-menu:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;

}
.sidebar{
    position: fixed;
    top: 90px;
    right: 0;
    width: 250px;
  
    z-index: 100;
    background-color:  black;
    display: none ;
    flex-direction: column;
    border-radius: 20px;
    
}
.sidebar-tab{
    cursor: pointer;
}

#contactModal .modal-content {
  background-color: #000;
  color: #fff;
}

#contactModal .modal-header,
#contactModal .modal-footer {
  border-color: #333;
}

#contactModal .modal-title {
  color: #fff;
}

#contactModal .btn-close {
  filter: invert(1);
}

#contactModal .form-label {
  color: #fff;
}

#contactModal .form-control {
  background-color: #111;
  color: #fff;
  border-color: #333;
}

#contactModal .form-control::placeholder {
  color: #aaa;
}

#contactModal .form-control:focus {
  background-color: #111;
  color: #fff;
  border-color: #666;
  box-shadow: none;
}

#contactModal .btn-secondary {
  background-color: transparent;
  color: #fff;
  border-color: #444;
}

#contactModal .btn-dark {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

@media(max-width:950px)  {
    .hide{
        display: none;
    }
}
@media(min-width:950px)  {
    .sidebar-tab{
    
    display: none;
}
}
.hero{
height: 100vh;
}
.hero-vid{
    width: 100%;
    height: 100vh;
    object-fit: fill;
    position: absolute;
    z-index: 1;
}
.hero-det{
    position: absolute;
    color: white;
    z-index: 2;
    bottom: 50px;
    left: 0;
}
.hero-btn{
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: 1px white solid;
}
.hero-line{
 position: absolute;
    color: white;
    z-index: 2;
    bottom: 0px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.gray-line{
    width: 80%;
    height: 5px ;
    border-radius: 20px;
    background-color: rgb(97, 96, 96);
    margin-bottom: 15px;
}
.white-line{
    width: 50%;
    height: 5px ;
    border-radius: 20px;
    background-color: rgb(255, 254, 254);
}
.hero-product{
    display: none;
}



@media(min-width:950px)  {
    .hero-det{
    position: absolute;
    color: white;
    z-index: 2;
    bottom: 50px;
    left: 0;
    width: 50%;
}

.lg-h1{
    font-size: 80px;
}
.hero-line{
    display: none;
}
.m-hero-lg{
    margin-bottom: 30px;
}
.hero-product{
    display: block;
    position: absolute;
    bottom: 200px;
    right: 0px;
    width: 500px;
    height: 300px;
    z-index: 2;
}

.hero-product-img{
    width: 40%;
    height: 60%;

}
}

.products{
    
    width: 100%;
    background-color: black;
    padding: 20px;
   

}
.aurora-img{

    background-image: url(./main-img/aurora-mob.png);
      width: 100%;
    height:300px;
    background-size: contain;
    background-repeat: repeat;
    background-position:center;
    
    background-attachment: fixed;
    margin-top: 0;
    display:none;
}
.aurora-img-mob{
      background-image: url(./main-img/aurora-mob.png);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    margin-top: 0;
}
 .tab{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 24px;
    border: 1px solid transparent;
    border-radius: 999px;
    transition: all .3s ease;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
     background: transparent;
    backdrop-filter: blur(10px)

}

.tab:hover{
    border-color: rgba(255,255,255,.4);
}

.tab.active{
    border: 1px solid #ffffff;
    background: rgba(255,255,255,.05);
}
.product-card{
    margin-top: 50px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
}
.product-card-img{
    width: 90%;
    border-radius: 10px;
}
.black-c{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
    border: 1px white solid;
}
.gray-c{
      width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: rgb(97, 95, 95);
    border: 1px white solid;
}
.camel-c{
       width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: rgb(105, 71, 7);
    border: 1px white solid;
}
.cameo-c{
     width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: rgb(105, 71, 7);
    border: 1px rgb(16, 54, 5) solid;
}
.white-c{
       width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: rgb(175, 149, 4);
    border: 1px white solid;
}
.like{
    position: absolute;
    top:30px;
    right: 60px;
    color: white;
}
.like:hover{
    color: red;
    transition: all 0.3s ease-in-out;
}

@media(min-width:950px)  {
.aurora-img{

    background-image: url(./main-img/aurora.png);
    width: 100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    object-fit: cover;
    background-attachment: fixed;
    display: block;
}
.aurora-img-mob{
    display: none;
}
.products{
    
    width: 100%;
    background-color: black;
    padding: 40px;
   

}
.products h2{
    margin-left: 50px;
}
.product-card{
    margin-top: 50px;
    padding: 10px;
    width: 20%;
    cursor: pointer;
}
.product-card-img{
    width: 90%;
    border-radius: 10px;
}

 
}
.mountain{
    background-image: url(./main-img/p-footer.png);
   background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    
    height: 400px;
    width: 100%;
    padding: 20px;
    padding-top: 100px;
}
.mountain-abs-lg1{
   display: none;
}
.mountain-abs-lg2{
   display: none;
}
.testmonials{
   
    width: 100%;
    background-color: black;
}
.test-head-p{
    display: none;
}
.test-card{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    border: 1px rgb(75, 74, 74) solid;
}
.test-product {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 210px;
}
.test-product-img{
    width: 70%;
}
.change-test{
    display: flex;
    justify-content: center;
}
.change-test button{
    margin-top: 50PX;
      color: #ffffff;
  
    padding: 10px 24px;
    border: 1px rgb(75, 74, 74) solid;
    border-radius: 999px;
    transition: all .3s ease;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
     background: transparent;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
}
.change-test button:hover{
    backdrop-filter: blur(10px);
 background-color: rgb(41, 41, 41);

}
.test-main{
    display: block;
}
.test-card-lg{
    display: none;
}
@media(min-width:950px)  {
.mountain{
    background-image: url(./main-img/p-footer.png);
   background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 50px;
    
}
.inner-mountain{
    position: absolute;
    z-index: 2;
    bottom: 100px;
    left: 50px;
}
.mountain-abs-lg1{
    display: block;
    position: absolute;
    top: 50px;
    left:50px ;
}
.mountain-abs-lg2{
    display: block;
    position: absolute;
    top: 50px;
    right:50px ;
}
 .test-head-p{
    display: block;
}
.testmonials{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.test-main{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.test-card{
      width: 30%;
    margin: auto;
    width: 90%;
    height: 480px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    border: 1px rgb(75, 74, 74) solid;
}
.test-card-lg{
    display: block;
      width: 30%;
    margin: auto;
    width: 90%;
    height: 480px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    border: 1px rgb(75, 74, 74) solid;
}
.test-lg{
display: flex;
justify-content: space-between;
}

footer{
    width: 100%;
    height: 100px;
    padding: 50px;
}
.curs-point{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.curs-point:hover{
    transform: translateY(-10px);
}
}
   .movment-sec{
   
display: none;

}


@media(min-width:950px)  {
    .movment-sec{
   display: block;
    width: 100%;
    height: 400px;
   
     background-color: black;

}
.movment{
    
    width: 95%;
    height: 300px;
    border-radius: 20px;
     margin: auto;
    border: 1px rgb(75, 74, 74) solid;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.move-img{
   width: 25%;
  
}
.movement-vid{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    z-index: 1;
}
}

.backbtn{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
     display: flex ;
    
    align-items:center ;
    gap: 10px;
}
.product-page{
    background: #000;
    padding: 20px;
    position: relative;
    padding-top: 100px;
    

}
.product-frame{
    border:1px #ffffff solid;
    border-radius: 20px ;
    width: 100%;
    
}
.prod-page-img{
    border-radius: 20px ;
}
.products-page-btns{
    display: block;
}
.addto-cart-btn{
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: 1px solid #f1f0f0;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.addto-cart-btn:hover{
    background-color: #b1b0b0;
     color: rgb(0, 0, 0);
}
.buynow-btn{
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #f1f0f0;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    font-weight: bold;
}
.buynow-btn:hover{
    background-color: #b1b0b0;
     color: rgb(0, 0, 0);
}
.size-choice{
    list-style: none;
    display: flex;
    gap: 7px;
}
.size-choice li div{
 border: 1px white solid;
 color: white;
 text-align: center;
 width: 50px;
 border-radius: 100px;
    transition: all 0.3s ease-in-out;
 cursor: pointer;
 
}
.size-choice li div:hover{
    color: rgb(0, 0, 0);
    background-color: #b1b0b0;
}
.wishlistbtn{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.wishlistbtn:hover{
    color: red;
}
.product-details{
    display: none;
    
}
.active-size{
 background-color: rgb(80, 78, 78);
 color:#000;

}
.footer-rights{
    display: none;
}
.footer-rights-sm{
    display: block;
    font-size: small;
}
.accordion-button {
    background-color: #000 !important;
    color: white !important;
   width: 100% !important;
}
.accordion-body{
     background-color: #000 !important;
    color: white !important;
    word-wrap: break-word;
  overflow-wrap: break-word;
}
.accordion-page{
    background-color: tomato;
 max-width: 700px;   /* or whatever width you want */
  margin: 0 auto;
}
.modal-body{
    background-color: #000;
}
.modal-header{
    background-color: #000;
    color: white;
    border-bottom: 0px !important;
}
.btn-close{
    color: white !important;
}
.side-img{
    display: none;
}
#productDetailsModal .modal-content,
#sizeChartModal .modal-content,
#washingModal .modal-content {
  background-color: #000;
  color: #fff;
}

#productDetailsModal .modal-header,
#sizeChartModal .modal-header,
#washingModal .modal-header,
#productDetailsModal .modal-footer,
#sizeChartModal .modal-footer,
#washingModal .modal-footer {
  border-color: #333;
}

#productDetailsModal .modal-title,
#sizeChartModal .modal-title,
#washingModal .modal-title,
#productDetailsModal .modal-body,
#sizeChartModal .modal-body,
#washingModal .modal-body {
  color: #fff;
}

#productDetailsModal .btn-close,
#sizeChartModal .btn-close,
#washingModal .btn-close {
  filter: invert(1);
}
@media(min-width:950px){
    .footer-rights{
    display: block;
}
.footer-rights-sm{
    display: none;
}
    .backbtn{
    position: absolute;
    display: flex ;
    align-items:center ;
    gap: 10px;
    left: 10px;
    top: 110px;
}
    .product-page{
    background: #000;
    padding: 50px;
    padding-right: 0;
    padding-top: 100px;
    position: relative;
    display: flex;
    height: 100vh;
    gap: 100px;
    

}
.product-frame {
    border: 1px #ffffff solid;
    border-radius: 20px;
    width: 33.2%;
    margin-left: 50px;
    height: 100%;
    overflow: hidden;
}

.prod-page-img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.products-page-btns{
    display: flex;
    gap: 10px;
}
.addto-cart-btn{
    border-radius: 20px;
    width: 40%;
    padding: 10px;
    background-color: #000000;
    border: 1px solid #f1f0f0;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.addto-cart-btn:hover{
    background-color: #b1b0b0;
     color: rgb(0, 0, 0);
}
.buynow-btn{
    border-radius: 20px;
    width: 40%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #f1f0f0;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    margin-top: 0;
}
.buynow-btn:hover{
    background-color: #b1b0b0;
     color: rgb(0, 0, 0);
}
.size-choice{
    list-style: none;
    display: flex;
    gap: 20px;
}
.size-choice li div{
 border: 1px white solid;
 color: white;
 text-align: center;
 width: 50px;
 border-radius: 100px;
    transition: all 0.3s ease-in-out;
 cursor: pointer;
 
}
.size-choice li div:hover{
    color: rgb(0, 0, 0);
    background-color: #b1b0b0;
}
.wishlistbtn{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.wishlistbtn:hover{
    color: red;
}
.product-details{
    border: #6e6e6e 1px solid;
    width: 800px;
    padding: 20px;
    display: block;
    
}
.side-img{
    display: block;
}
.side-img img {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
}
}
